<a href="https://colab.research.google.com/github/angad2212/Assignment1/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1)i)

In [3]:
L = [11, 12, 13, 14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

Q1)ii)

In [5]:
L = [11, 12, 13, 14]
del L[0]
del L[1]
print(L)

[12, 14]

Q1)iii) and iv)

In [8]:
L = [11, 13, 12, 14]
L.sort()
print(L) #ascending order
L.sort(reverse=True)
print(L) #descending order

[11, 12, 13, 14]
[14, 13, 12, 11]

Q1)v)

In [10]:
L = [11, 12, 13, 14]
print("Original list is: ", L)
if (13 in L) == True:
  print("present")
else:
  print("not present")

Original list is:  [11, 12, 13, 14]
present

Q1)vi)

In [11]:
L = [11, 12, 13, 14]
print("number of items is: ", len(L))

number of items is:  4

Q1)vii)

In [12]:
L = [11, 12, 13, 14]
print("sum of all elements are: ", sum(L))

sum of all elements are:  50

Q1)viii)

In [13]:
L = [11, 12, 13, 14]
sum_of_odd = sum(n for n in L if n % 2 != 0)
print("Sum of odd numbers:", sum_of_odd)

Sum of odd numbers: 24

Q1)ix)

In [15]:
L = [11, 12, 13, 14]
sum_of_even = sum(n for n in L if n % 2 == 0)
print("Sum of even numbers:", sum_of_even)

Sum of even numbers: 26

Q1)xi)

In [37]:
L = [11, 12, 13, 14]
L.clear()
print(L)

[]

Q1)xii)

In [20]:
L = [11, 12, 13, 14]
del L[0]
del L[1]
print(L)

[12, 14]

Q2)i)

In [21]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

Q2)ii)

In [24]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

Q2)iii)

In [25]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("is 6 in D ? ", 6 in D)

is 6 in D ?  False

Q2)iv)

In [30]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
num = len(D)
print(num)

5

Q2)v)

In [33]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
num= list(D.values())
print(num)
sum(num)

[5.6, 7.8, 6.6, 8.7, 7.7]

36.4

Q2)vi)

In [34]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[3]=7.1
print("after updating:", D)

after updating: {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

Q2)vii)

In [36]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D.clear()
print(D)

{}

Q3)i)

In [39]:
S1 = set([10,20,30,40,50,60])
S2 = set([40,50,60,70,80,90])
S1.add(55)
S1.add(66)
print("afte adding 55 and 66 to S1: ", S1)

afte adding 55 and 66 to S1:  {66, 40, 10, 50, 20, 55, 60, 30}

Q3)ii)

In [40]:
S1 = set([10,20,30,40,50,60])
S2 = set([40,50,60,70,80,90])
S1.remove(10)
S1.remove(30)
print(S1)

{40, 50, 20, 60}

Q3)iii)

In [43]:
S1 = set([10,20,30,40,50,60])
S2 = set([40,50,60,70,80,90])
print("is 40 present in S1?",  40 in S1)

is 40 present in S1? True

Q3)iv)

In [44]:
S1 = set([10,20,30,40,50,60])
S2 = set([40,50,60,70,80,90])
print(S1.union(S2))

{70, 40, 10, 80, 50, 20, 90, 60, 30}

Q3)v)

In [45]:
S1 = set([10,20,30,40,50,60])
S2 = set([40,50,60,70,80,90])
print(S1.intersection(S2))

{40, 50, 60}

Q3)vi)

In [46]:
S1 = set([10,20,30,40,50,60])
S2 = set([40,50,60,70,80,90])
print(S1 - S2)

{10, 20, 30}

Q4)i)

In [47]:
import random as r
print (r.randint(6, 8))

7

Q4)ii)

In [57]:
def prime(number):
    if number < 2:
        return False
    for i in range(2, int(number//2) + 1):
        if number % i == 0:
            return False
    return True

for num in range(600, 801):
    if prime(num):
        print(num)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

Q4)iii)

In [59]:
for n in range(100, 1001):
    if n % 7 == 0 and num % 9 == 0:
        print(n)

Q5)i)

In [63]:
import random as r

A=range(10, 30)

L1 = (r.sample(A, 10))
L2 = (r.sample(A, 10))
print(L1)
print(L2)

S1 = set(L1)
S2 = set(L2)
print(S1.intersection(S2))

[17, 27, 13, 14, 10, 11, 15, 21, 24, 19]
[27, 28, 17, 21, 23, 25, 12, 19, 14, 13]
{13, 14, 17, 19, 21, 27}

Q5)ii)

In [64]:
import random as r

A=range(10, 30)

L1 = (r.sample(A, 10))
L2 = (r.sample(A, 10))
print(L1)
print(L2)

S1 = set(L1)
S2 = set(L2)
print(S1-S2)
print(S2-S1)

[22, 13, 16, 23, 28, 17, 26, 11, 21, 29]
[18, 20, 26, 25, 22, 12, 28, 23, 21, 17]
{16, 29, 11, 13}
{25, 18, 12, 20}

Q5)iii)

In [65]:
import random as r

A=range(10, 30)

L1 = (r.sample(A, 10))
L2 = (r.sample(A, 10))
print(L1)
print(L2)

print(min(L1))
print(min(L2))

[11, 29, 10, 14, 24, 21, 25, 18, 20, 17]
[16, 26, 19, 14, 22, 27, 10, 24, 18, 17]
10
10

Q6)i)

In [79]:
import random as r

A=range(100, 900)

L1 = (r.sample(A,10))
print(L1)

sum_odd=0
for num in L1:
  if num %2 != 0:
    sum_odd=sum_odd+num

print(sum_odd) #sum

count_odd = 0
for num in L1:
    if num % 2 != 0:
        count_odd = count_odd+1

print(count_odd) #count

[390, 138, 767, 452, 552, 838, 817, 412, 636, 356]
1584
2

Q6)ii)

In [80]:
import random as r

A=range(100,900)

L1=(r.sample(A,10))
print(L1)

sum_even=0
for num in L1:
  if num%2 ==0:
    sum_even=sum_even+num

print(sum_even)

count_even = 0
for num in L1:
    if num % 2 == 0:
        count_even = count_even+1

print(count_even)

[197, 844, 605, 893, 529, 112, 397, 713, 441, 424]
1380
3

Q6)iii)

In [ ]:
import random as r

A=range(100,900)

L1=(r.sample(A,10))
print(L1)

sum_prime=0

Q7)

In [84]:
D={1:"One", 2:"Two", 3:"Three", 4:"Four", 5:"Five"}
print(D)
print(list(D.keys()))
print(list(D.values()))
print("Key 1 : ", D[1])
print("Key 2 : ", D[2])
print("Key 3 : ", D[3])
print("Key 4 : ", D[4])
print("Key 5 : ", D[5])

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}
[1, 2, 3, 4, 5]
['One', 'Two', 'Three', 'Four', 'Five']
Key 1 :  One
Key 2 :  Two
Key 3 :  Three
Key 4 :  Four
Key 5 :  Five

Q8)

In [89]:
L=['one', 'two', 'three', 'four', 'five']
print(len(L))
print("One:",len(L[0]))
print("Two:",len(L[1]))
print("Three:",len(L[2]))
print("Four:",len(L[3]))
print("Five:",len(L[4]))

5
One: 3
Two: 3
Three: 5
Four: 4
Five: 4

Q9)

In [3]:
import random as r
import string as s
fp=open('test.txt','w')
for i in range(0,101):
  a="".join(r.sample(s.ascii_letters, r.randint(10,15)))
  fp.write(a)
fp.close()

Q10)

In [8]:
fp=open('test.txt','w')
for n in range(600,801):
  f=0
  for i in range(2,int(n-1)):
    if n%i==0:
      f=1
      break
  if f==0:
    fp.write(str(n))
fp.close()

Q11)

In [4]:
import time

start_time = time.time()

total = 0
for i in range(10):
    total += i

end_time = time.time()

total_time = end_time - start_time

print("Time taken:", total_time, "seconds")

Time taken: 0.0001266002655029297 seconds

Q12

In [101]:
import time

start_time = time.time()

L = [25000,15000,20000,5000,10000]

sorted_list = sorted(L)


end_time = time.time()

total_time = end_time - start_time

print("Sorted list:", sorted_list)
print("Time taken:", total_time, "seconds")

Sorted list: [5000, 10000, 15000, 20000, 25000]
Time taken: 0.00014257431030273438 seconds

Q13)

In [1]:
student_marks = {
    "Angad": [90, 100, 92, 80, 97],
    "Bilawal": [100, 89, 89, 89, 88],
    "Nihaal": [92, 90, 85, 88, 92],
    "Rohan": [75, 80, 76, 82, 70],
    "Ikraj": [85, 88, 90, 92, 87]
}

# Calculate average marks for each student
average_marks = {}
for student, marks in student_marks.items():
    total_marks = sum(marks)
    number_of_subjects = len(marks)
    average_marks[student] = total_marks / number_of_subjects

# Find student with maximum and minimum average marks
max_student = max(average_marks, key=average_marks.get)
min_student = min(average_marks, key=average_marks.get)
max_student_marks = max(average_marks["Angad"], average_marks["Bilawal"], average_marks["Nihaal"], average_marks["Rohan"], average_marks["Ikraj"])
min_student_marks = min(average_marks["Angad"], average_marks["Bilawal"], average_marks["Nihaal"], average_marks["Rohan"], average_marks["Ikraj"])

# Print the results
print("Student with maximum average marks:", max_student, "with marks:", max_student_marks)
print("Student with minimum average marks:", min_student, "with marks:", min_student_marks)

Student with maximum average marks: Angad with marks: 91.8
Student with minimum average marks: Rohan with marks: 76.6